* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --primary-color: #183b56;
    --secondary-color: #577592;
    --accent-color: #2294ed;
    --secondary-accent-color: #2294ed;
}

p {
    font-size: 20px;
    color: var(--primary-color);
}

h1 {
    font-size: 55px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2 {
    font-weight: 600;
    letter-spacing: 1.1px;
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

span {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}
.active{
    background-color: #2294ed !important;
    color: white !important;
}

header {
    background-image: url(../assets/asset\ 32.png);
    background-size: 300px;
    width: 100vw;
    font-weight: 600;
    color: white;
    background-color: #e74694;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 10px;
}
header p{
    font-size: 15px;
    color: white;
}
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
}

/* NavBar Section  */
.menubar{
    display: none;
}
nav .fa-xmark{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 250px;
    height: 45px;
}

nav .navlinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--primary-color);
}

.btn {
    font-size: 17px;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
}

/* Home Section Start  */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    gap: 40px;
}

.home .left p {
    margin-bottom: 30px;
}

.home .right img {
    width: 40vw;
}

/* Companies Section  */
.companies-section {
    margin-top: 30px;
    text-align: center;
}

.companies-logo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.companies-logo img {
    width: 120px;
    height: 74px;
    object-fit: contain;
}

/* Feature Section  */
.feature-section {
    background-image: url(../assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64% 100%;
    margin-top: 40px;
}

.feature-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
    padding-bottom: 100px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 30%;
    text-align: center;
}

.feature-card img {
    width: 40px;
    height: 60px;
}

/* Big Feature Section  */
.big-feature-section {
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.b-feature {
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
    flex-wrap: wrap;
}

.b-content-img img{
    width: 34vw;
}

.f1-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 24rem;
}

.f1-content img {
    width: 120px;
}

.human-section {
    display: flex;
    gap: 7px;
    margin-top: 10px;
}

.human-section img {
    width: 60px;
}

/* Example Section  */
.examples{
    padding-top: 100px;
    text-align: center;
}
.example-cards {
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.example-card {
    height: 300px;
    width: 16rem;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.example-c1 {
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.5),rgba(23, 22, 23, 0.3)), url(https://usabilityclone.vercel.app/images/asset\ 36.jpeg);
    background-size: cover;
}

.example-c2 {
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.5),rgba(23, 22, 23, 0.3)), url(https://usabilityclone.vercel.app/images/asset\ 37.jpeg);
    background-size: cover;
}

.example-c3 {
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.5),rgba(23, 22, 23, 0.3)), url(https://usabilityclone.vercel.app/images/asset\ 38.jpeg);
    background-size: cover;
}

.example-c4 {
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.5),rgba(23, 22, 23, 0.3)), url(https://usabilityclone.vercel.app/images/asset\ 39.jpeg);
    background-size: cover;
}

/* Try-Panel Section  */
.try-panel{
    margin-top: 3em;
    background-color: var(--primary-color);
}
.try-panel-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.left-panel{
    width: 540px;
    padding-top: 3em;
    padding-inline: 20px;
}
.left-panel p{
    color: white;
}
.left-panel>span:first-child{
    font-size: 40px;
}
.left-panel>h3{
    font-size: 30px;
    color: whitesmoke;
    margin: 20px 0;
}
.left-panel p{
    font-size: 18px;
    margin-top: 20px;
    color: #b9cde4;
}
.grid-layout{
    display: grid;
    grid-template-columns: repeat(2,300px);
}
.grid-layout ul{
    padding-left: 20px;
}
.grid-layout ul,li{
    color: whitesmoke;
    color: #b9cde4;
    font-size: 17px;
}
.panel-buttons-section{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
}
.panel-buttons-section a{
    color: #b9cde4;
}
.right-panel{
    width: 38vw;
    height: 600px;
    background-image: url(https://usabilityclone.vercel.app/images/asset\ 41.png),url(https://usabilityclone.vercel.app/images/asset\ 40.png);
    background-repeat: no-repeat;
    background-size: 18vw 35vh, 99% 90%;
    background-position: center, top 20px center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Start Time Section  */
.st-panel{
    padding: 4rem 0;
    text-align: center;
}
.st-panel h3{
    padding-top: 6em;
}
.st-panel p{
    margin-bottom: 30px;
}

/* Footer Section  */
footer{
    background-color: #ebf2fa;
    padding-top: 5em;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.f-logo img{
    width: 230px;
}
.grid-layout-footer{
    display: grid;
    grid-template-columns: repeat(auto-fill,13em 13em 10em);
    column-gap: 50px;
}
.lists{
    list-style: none;
}
.lists li{
    margin: 20px 0;
    color: var(--primary-color);
}
.sub-footer{
    background-color: #b9cde4;
    padding: 20px;
}
.main-sub{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.sub-footer .policy{
    display: flex;
    gap: 20px;
}
.policy li{
    list-style: none;
    color: var(--primary-color);
    font-size: 13px;
}
.socials{
    display: flex;
    gap: 30px;
}
.socials img{
    width: 24px;
}