* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #183b56;
    --secondary-color: #577592;
    --accent-color: #2294ed;
    --secondary-accent-color: #2294ed;
}
p{
    font-size: 20px;
}

header {
    background-image: url(./assets/asset\ 32.png);
    background-size: 300px;
    width: 100vw;
    font-weight: 600;
    color: white;
    background-color: purple;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 10px;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
}
/* NavBar Section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo img{
    width: 250px;
    height: 45px;
}
nav .navlinks ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-color);
}
.btn{
    font-size: 17px;
    background-color: transparent;
    color: var(--primary-color);
    border:1px solid var(--accent-color);
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
}
/* Home Section Start  */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    gap: 40px;
}
.home .left h1{
    font-size: 55px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.left p{
    color: var(--primary-color);
    margin-bottom: 30px;
}
.home .right img{
    width: 40vw;
}
/* Companies Section  */
.companies-section{
   margin-top: 30px;
    text-align: center;
}
.companies-logo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.companies-logo img {
    width: 120px;
    height: 74px;
    object-fit: contain;
}
.companies-section p{
    color: var(--primary-color);
}
/* Feature Section  */
.feature-section{
    background-image: url(./assets/asset\ 29.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64% 100%;
    margin-top: 40px;
}
.feature-header{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 70px;
}
.feature-header h2{
    font-weight: 600;
    letter-spacing: 1.1px;
    font-size: 2.0em;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.feature-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   gap: 40px;
   margin: 20px 0;
}
.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 30%;
    text-align: center;
}
.feature-card h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}
.feature-card img{
    width: 40px;
    height: 60px;
}